.container.contact__container {
    width: 60%;
    display: grid;
    gap: 8%;

}

.contact__options {
    display: grid;
    flex-direction: column;
    gap: 2rem;
}

.contact__option {
    background: #b1e1f8;
    width: 100%;
    padding: 1rem;
    border-radius: 1.2rem;
    text-align: center;
    border: 1px solid black;
    transition: var(--transition);
}

.contact__option:hover {
    border-color: var(--color-primary-variant);

}

.contact__option-icon {
    width: 100%;
    font-size: 2.5rem;
    margin-bottom: 0.5rem;
}

.contact__option a {
    margin-top: 0.7rem;
    display: inline-block;
    font-size: 1rem;
}

.contact__option a {
    margin-top: 0.7rem;
    display: inline-block;
    font-size: 1rem;
}

.text:hover{
    color: blue;
    font-size: 17px;
    transition: 0.2s;
}



/* MEDIA QUERIES (MEDIUM DEVICES) */
@media screen and (max-width:1024px) {
    .container.contact__container{
        grid-template-columns: 1fr;
        gap: 2rem;
    }
}

/* MEDIA QUERIES (SMALL DEVICES) */
@media screen and (max-width:600px) {
    .container.contact__container{
        width: var(--container-width-sm);
    }
    .contact__option-icon {
        width: 100%;
    }
}